/*大屏幕*/
@media (max-width: 1240px) {
    .about-jianjie {
        padding: 78px 150px;
    }
}

@media (max-width: 991px) {
    .ban-bj .ban-left {
        padding-left: 38px;
    }

    .ban-iphone {
        height: 560px;
        background: url(../images/Phone-q.png) no-repeat -6px 17px;
        background-size: 114%;
    }

    .ban-iphone {
        margin-right: 0;
    }

    .about-jianjie {
        padding: 78px 80px;
    }
}

@media (min-width: 768px) {
    #navbar {
        float: right;
    }

    .navbar-logo {
        background-size: 90%;
    }

    .close {
        display: none;
    }
}

/*手机*/
@media (max-width: 767px) {
    /*title 各页面显示不正确*/
    .index-hidden .index-item,.job-hidden .job-item,.about-hidden .about-item{
        display: none;
    }
    /*=========*/
    /*===========1==========*/
    .navbar-collapse {
        width: 100%;
        position: absolute;
        top: 0;
        background: rgba(255,255,255,0.96);
        z-index: 1;
    }

    .navbar-nav > li > a {
        margin: 10px 0;
        color: #333;
        font-size: 14px;
    }
    .navbar-logo {
        height: 15px;
        width: 76px;
        background-size: 100%;
        margin-top: 12.5px;
    }
    .navbar-brand{
        padding-left: 1.93rem;
    }
    /*=============2============*/
    .ban-bj {
        padding-top: 72px;
    }

    .ban-bj .ban-left {
        padding-left: 1.93rem;
    }

    .ban-word {
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 0.7px;
    }

    .ban-logo {
        width: 50px;
        height: 50px;
        background-size: 100%;
        background-position-x: left;
    }
    .ban-logo1 {
        width: 120px;
        height: 24px;
        background-size: 100%;
    }
    .ban-iphone {
        height: 478px;
        background: url(../images/Phone.png) no-repeat 346px 9px;
        background-size: 48%;
    }
    .arr-down {
        margin: 11px 10px 0 20px;
    }
    .ban-down {
        width: 120px;
        height: 40px;
        font-size: 13px;
        line-height: 40px;
    }
    /*============3=========*/
    .auto-words {
        line-height: 35px;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 50px 0;
    }

    .zi-huakuai {
        width: 42px;
        margin-top: 16px;
    }

    /*===========4==========*/
    .car3 {
        height: 100px;
    }

    .car-title {
        font-size: 8px;
        /*-webkit-transform-origin-x: 0;*/
        /*-webkit-transform: scale(0.6666666667);*/
        letter-spacing: 3px;
        margin-top: 18px;
    }

    .car-title1 {
        font-size: 15px;
        letter-spacing: 3px;
        margin: 6px 0;
    }

    .car-con {
        opacity: 0.7;
        font-size: 11px;
    }

    .car3-1 {
        background: url("../images/pic_1.png") no-repeat center center;
        background-size: cover;
    }

    .car3-2 {
        background: url("../images/pic_2.png") no-repeat center center;
        background-size: cover;
    }

    .car3-3 {
        background: url("../images/pic_3.png") no-repeat center center;
        background-size: cover;
    }

    /*==========5=========*/
    .phones-bj {
        background: #f9f9f9;
    }

    .col-sm-6.iphones-fu {
        width: 100%;
        background: url(../images/iphones.png) no-repeat center bottom;
        background-size: 100%;
        margin-top: 10px;
    }

    .col-sm-6.btn-fu {
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .phones-pos {
        position: absolute;
        top: -58px;
        left: 50%;
        margin-left: -99px;
    }

    .appbtn {
        width: 40%;
        background: url("../images/btn_appstore.png") no-repeat;
        background-size: contain;
        margin: 0 5% 0 7.5%;
    }

    .andbtn {
        width: 40%;
        background: url("../images/btn_android.png") no-repeat;
        background-size: contain;
    }

    .iphones-title {
        font-size: 8px;
        /*-webkit-transform-origin-x: 96px;*/
        /*-webkit-transform: scale(0.6666666667);*/
        margin: 30px 0 14px;
    }

    .iphones-con {
        font-size: 13px;
        line-height: 30px;
    }
    .contact {
        width: 190px;
        top:24px;
        margin-left: -95px;
    }
    .con3{
        width: 44px;
        height: 44px;
        margin-right: 15%;
    }
    .yin-erweima{
        width: 110px;
        height: 114.5px;
        top: -110px;
        left: -33px;
    }

    /*footer*/
    footer{
        padding: 24px 0;
        margin-top: 30px;
        font-size: 9px;
    }

    /*关于我们*/
    .navbar-header .han-white {
        background: url("../images/ico_more_white.png") no-repeat center center;
        background-size: 100%;
    }

    .ban-about {
        height: 265px;
        background: url("../images/pic_about_us.png") no-repeat center center;
    }

    .about-content {
        font-size: 20px;
        letter-spacing: 6px;
        margin: -41px 0 0 -77px;
    }

    .about-jianjie {
        padding: 30px;
    }

    .about-jianjie p {
        margin-bottom: 25px;
        line-height: 28px;
        font-size: 14px;
    }

    .address-p {
        font-size: 13px;
        line-height: 30px;
    }

    .address-con {
        width: 80%;
        padding: 0 20px;
        margin-top: -53px;
        margin-left: -40%;
    }

    .about-huakuai {
        margin-top: 13px;
    }

    .address {
        width: 100%;
        height: 151px;
        background: url("../images/pc_address.png") no-repeat center center;
        background-size: cover;
    }

    .address-words {
        padding: 20px 0;
    }

    .address-con {
        margin-top: 120px;
    }

    .current-add {
        width: 18px;
        height: 18px;
        background-size: cover;
        left: 47%;
    }

    .address-footer {
        margin-top: 230px;
    }

    /*招聘*/
    .ban-jobs {
        background: url(../images/pic_jobs.png) no-repeat center center;
    }

    .jobs-content {
        margin: -41px 0 0 -91px;
        line-height: 41px;
    }

    .padd-left {
        padding-left: 15px;
    }

    .padd-right {
        padding-right: 15px;
    }

    .jobs-con {
        display: none;
    }

    .title-2 {
        margin-top: 0;
        border-bottom: none;
        padding-bottom: 0;
    }

    .job-title {
        padding: 17.1px 0;
        border-bottom: 1px solid #E7E7E7;
        font-size: 16px;
    }

    .job-type {
        font-size: 18px;
        margin-top: 30px;
    }

    .lan-border {
        width: 31px;
        height: 2px;
        margin: 24px 0 10px;
    }

    .job-arrow {
        width: 35.2px;
        height: 22px;
        background: url(../images/Triangle.png) no-repeat center center;
        background-size: 30%;
        float: right;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s; /* Firefox 4 */
        -webkit-transition: all ease 0.3s; /* Safari 和 Chrome */
        -o-transition: all ease 0.3s;
    }
    .email {
        font-size: 18px;
        padding: 30px 0;
    }
    .email:before{
        content: "";
        display: inline-block;
        width: 18px;
        height: 13px;
        background: url("../images/ico_mail.png");
        background-size: cover;
    }
    .zhize {
        font-size: 15px;
    }
    .jobs-con p {
        font-size: 14px;
        line-height: 25px;
        margin: 5px 0;
    }

}

/*################### 6 #####################*/
@media (max-width: 375px) {
    /*=========1=======*/
    .navbar-logo {
        /*background-position: 6px;*/
    }

    /*=========2========*/
    .ban-iphone {
        height: 440px;
        background: url(../images/Phone.png) no-repeat 366px 1px;
        background-size: 45%;
    }

    .ban-logo {
        background-size: 80%;
        background-position-x: left;
    }

    .ban-logo1 {
        background-size: 98%;
        background-position-x: left;
    }
    .navbar-brand{
        padding-left: 1.5rem;
    }
    .ban-bj .ban-left {
        padding: 0 0 0 1.5rem;
    }

    /*============3=========*/
    .auto-words {
        line-height: 35px;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 33px 0;
    }

    .zi-huakuai {
        width: 38px;
        margin-top: 20px;
    }

    /*=========5======*/
    .iphones {
        margin-top: -11px;
    }
    .col-sm-6.iphones-fu {
        margin-top: -10px;
    }
    .iphones-title {
        margin: 25px 0 14px;
    }


    /*关于我们*/
    .address-p {
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 28px;
        margin-top: 13px;
    }

    .about-huakuai {
        width: 28px;
        margin-top: 10px;
    }
}

/*5,4*/
@media (max-width: 320px) {
    /*===========1=========*/
    .navbar-logo {
        background-size: 76%;
        background-position: 0px;
    }

    /*==========2===========*/
    .ban-iphone {
        height: 390px;
        background: url(../images/Phone.png) no-repeat 421px 5px;
        background-size: 38%;
    }

    .ban-word {
        width: 115%;
    }

    .ban-logo {
        margin-top: 90px;
        background-size: 70%;
    }

    .ban-logo1 {
        background-size: 84%;
        background-position-x: left;
        margin: 7px 0 10px;
    }

    /*========3========*/
    .auto-words {
        line-height: 24px;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 24px 0;
    }

    .zi-huakuai {
        width: 30px;
        margin-top: 15px;
    }

    /*========4=========*/


    .col-sm-6.iphones-fu {
        margin-top: -40px;
    }

    /*footer*/
    footer {
        padding: 40px 50px;
    }

    /*关于我们*/
    .address-p {
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 28px;
        margin-top: 13px;
    }

    .about-huakuai {
        width: 20px;
        margin-top: 10px;
    }

    .address-footer {
        margin-top: 199px;
    }
    .email {
        font-size: 16px;
    }

}

